@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  background: #000;
  font-family: Helvetica, sans-serif;
}
.container {
  position: relative;
}
.weather {
  color: white;
  font-size: 27px;
  position: absolute;
  right: 24px;
  text-align: center;
}
.weather_icon {
  height: 100px;
  width: 100px;
}
.fade {
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-duration: 1.75s;
  -moz-animation-duration: 1.75s;
  animation-duration: 1.75s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.msg {
  color: #FFF;
  font-size: 72px;
  font-weight: 700;
  margin: 0 auto;
  opacity: 0;
  position: relative;
  text-align: center;
  top: 40vh;
}
/* RSS FEED */

.BreakingNewsController {
  background: #3498db;
  bottom: 12px;
  height: auto;
  overflow: hidden;
  position: absolute;
  width: 90%;
}
.BreakingNewsController .bn-title {
  display: block;
  float: left;
  padding: 10px 20px;
}
.BreakingNewsController ul {
  display: block;
  left: 180px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 50px;
}
.BreakingNewsController ul li {
  display: none;
  list-style: none;
  padding: 10px 20px;
}
.BreakingNewsController ul li a {
  color: #FFF;
  display: inline-block;
  overflow: hidden;
  padding: 0;
  text-decoration: none;
}
.easing a,
.easing span {
  transition: .25s linear;
  -moz-transition: .25s linear;
  -o-transition: .25s linear;
  -webkit-transition: .25s linear;
}
